* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #000a19;
  --para-color: #504e4d;
  --h-color: #0a043c;
  --white-color: #fff;
  --btn-hover-bg-color: #003b99;
  --btn-box--shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "poppins", sans-serif;
  /* color: var(--para-color); */
}
p,
li,
a {
  font-family: "Urbanist", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: var(--para-color);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.nav-header {
  /* width: 100vw; */
  padding: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  scrollbar-color: transparent;
  .big-containar {
    max-width: 100%;
    /* background-color: black; */
    /* padding: 9.6rem 2.4rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 15rem;
      height: 6rem;
      padding: 0.3rem 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
    }
    .navbar ul {
      display: flex;
      gap: 3.2rem;
      text-transform: capitalize;
      li a {
        color: var(--heading-color);
        text-transform: uppercase;
        font-weight: 600px;
        font-size: 1.6rem;
        display: inline-block;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: -0.3rem;
          left: 0;
          width: 0%;
          border-bottom: 0.2rem solid var(--main-color);
          transition: all 0.25s linear;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

/* ************ main section ********* */

.hero-grid--container {
  display: grid;
  grid-template-columns: 1FR 1fr;
  align-items: center;
  gap: 4.4rem;
  /* overflow: auto; */
  .hero-side--heading {
    text-transform: uppercase;
    color: var(--btn-hover-bg-color);
    font-size: 1.7rem;
    font-weight: 700;
    word-spacing: 0.2rem;
  }
  .hero-heading {
    font-size: 3.8rem;
    margin: 0.9rem 0;
    line-height: 1.4;
  }
}
.btn {
  display: inline-block;
  padding: 1.2rem 3.2rem;
  color: var(--white-color);
  text-transform: capitalize;
  margin: 3rem 0;
  background-color: var(--main-color);
  &:hover {
    background-color: var(--btn-hover-bg-color);
    box-shadow: var(--btn-box--shadow);
  }
}

main {
  background-image: linear-gradient(
    to top right,
    #3d86fa,
    #4484fd,
    #679eff,
    #b3d2ff,
    #ebf3fe
  );
  padding: 0rem 5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  .custom-shape-divider-bottom-1725029528 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* height: 20rem; */
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1725029528 svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 201px;
  }

  .custom-shape-divider-bottom-1725029528 .shape-fill {
    fill: #ffffff;
  }
}
.hero-img {
  height: auto;
  transform: scaleX(-1);
}

/*? ***************************************** */
.big-boss {
  padding: 0rem 7rem;
  /* display: none; */
}
.sec-com--heading {
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "urbonist";
}
.sec-com--subheading {
  color: var(--heading-color);
  margin-bottom: 15rem;
  font-family: "urbonist";
}

.section-about {
  /* padding: 0rem 7rem;  */
  margin-bottom: 15rem;
}
.grid-three--columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  /* vertical-align: middle; */
}
.about-div {
  text-align: center;
  h3 {
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
  }
  p {
    font-size: 1.6rem;
    /* text-align: justify; */
  }
}

.icon img {
  box-sizing: content-box;
  height: auto;
  width: 11rem;
  background-color: var(--supporting-color);
  border-radius: 50%;
  margin-bottom: 2.4rem;
  padding: 2rem;
  transition: all 0.4s linear;
  &:hover {
    transform: rotate(360deg);
    background: linear-gradient(to right, #0575e6, #021b79);
    box-shadow: var(--btn-box--shadow);
  }
}

/* *********** cource section ************* */
/* .section-cource{}
.icon{ */
/* width: 5rem;
    aspect-ratio: 1; */
/* } */
.icon .fa-solid {
  font-size: 3rem;
  background-color: #c4d6f5;
  color: var(--main-color);
  padding: 1.5rem;
  border-radius: 50%;
}
.grid-four--cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-auto-rows: 23rem; */
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
}
.cource-div {
  /* width: calc(100%-10rem); */
  padding: 2rem;
  text-align: center;
  &:hover {
    box-shadow: var(--btn-box--shadow);
  }
}
.cource-div h3 {
  margin: 2.4rem 0 1.2rem;
  font-size: 1.8rem;
}
.cource-div .sec-com--para {
  font-size: 1.5rem;
}
.cource-div .icon {
  .icon-2 {
    color: rgb(83, 192, 61);
    background-color: rgb(223, 243, 219);
  }
  .icon-3 {
    color: rgb(212, 89, 44);
    background-color: rgb(252, 220, 209);
  }
  .icon-4 {
    color: rgb(32, 92, 116);
    background-color: rgb(211, 237, 248);
  }
  .icon-5 {
    color: rgb(252, 155, 171);
    background-color: rgb(243, 217, 221);
  }
  .icon-6 {
    color: rgb(252, 169, 17);
    background-color: rgb(243, 224, 188);
  }
  .icon-7 {
    color: navy;
    background-color: rgb(189, 189, 240);
  }
}

/* ***************** left mobile **************** */

.sectioin-mobile {
  margin: 15rem 0 10rem;
}
.sectioin-mobile .grid {
  gap: 8rem;
}
.mobile-heading {
  font-size: 3rem;
}
.mobile-para {
  font-size: 1.4rem;
  margin-bottom: 15rem;
}
.left-mobile--first {
  text-align: right;
  margin-bottom: 2rem;
  .fa-solid {
    background-color: var(--supporting-color);
    padding: 3rem;
    border-radius: 50%;
    font-size: 2.5rem;
    color: var(--main-color);
    background-color: rgb(225, 225, 252);
  }
  .l1-h {
    font-size: 1.8rem;
    margin: 2.4rem 0 1.2rem;
    font-weight: 700;
  }
  .l1-p {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
.left-mobile .mid-figure img {
  width: 90%;
  height: auto;
}
.right-mobile--first {
  /* text-align: right; */
  margin-bottom: 2rem;
  .fa-solid {
    background-color: var(--supporting-color);
    padding: 3rem;
    border-radius: 50%;
    font-size: 2.5rem;
    color: var(--main-color);
    background-color: rgb(225, 225, 252);
  }
  .r1-h {
    font-size: 1.8rem;
    margin: 2.4rem 0 1.2rem;
    font-weight: 700;
  }
  .r1-p {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-div img {
  width: 90%;
  height: auto;
}
.center-div figure {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 45rem;
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    animation: circle 5s linear infinite alternate;
  }
  &::after {
    content: "";
    position: absolute;
    width: 48rem;
    aspect-ratio: 1;
    /* background-color: red; */
    border-radius: 50%;
    z-index: -2;
    border: 0.5rem solid var(--supporting-color);
  }
}

@keyframes circle {
  0% {
    background-color: #b3d0ff;
  }
  25% {
    background-color: #80b1ff;
  }
  50% {
    background-color: #4d91ff;
  }
  75% {
    background-color: #99c0ff;
  }
  100% {
    background-color: #3381ff;
  }
}

/* ************* contact home sec************* */
.section-connect--homepage {
  /* display: flex; */
  width: 65%;
  height: 30rem;
  margin: 0 auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 2rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -15rem;
  background-color: var(--white-color);
  img {
    width: 90%;
    height: auto;
  }
}

.section-connect--homepage .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* align-items: center;
    justify-content: center; */
  gap: 5rem;
}
.contact-tittle {
  font-size: 3rem;
  line-height: 1.2;
}
.contact-content .btn a {
  /* background-color: var(--white-color); */
  color: var(--white-color);
}
footer {
  padding: 15rem 5rem 1rem;
  background-color: #040d12;
  line-height: 3rem;
  a {
    color: var(--white-color);
    margin-right: 2rem;
    /* .fa-solid{
        background-color: var(--supporting-color);
        padding: 3rem;
        border-radius: 50%;
        font-size: 2.5rem;
        color: var(--main-color);
        background-color: rgb(225, 225, 252);
    } */
  }
  p {
    color: var(--supporting-color);
    margin: 1rem 0 2rem;
  }
}
.fa-solid {
  background-color: var(--supporting-color);
  padding: 1rem;
  border-radius: 50%;
  font-size: 2.5rem;
  color: var(--main-color);
  background-color: rgb(225, 225, 252);
}

.section-blog {
  background-color: var(--bg-color);
  padding: 5rem 0.2rem;
  .section-com--heading {
    font-size: 2.5rem;
  }
  .section-common--tittle {
    font-size: 1.2rem;
  }
  .blog {
    margin-top: 3rem;
    width: 70%;
    box-shadow: var(--btn-box--shadow);
    transition: all 0.2s linear;
    .blog-content {
      padding: 1.4rem 1rem 2.4rem;
    }
    &:hover {
      scale: 1.1;
    }
  }
  .blog-date {
    display: flex;
    justify-content: space-between;
    margin-top: 1.6rem;
    .fa-solid {
      background-color: transparent;
      padding: 0;
      /* font-size: 1.8rem; */
      margin-right: 1rem;
    }
  }
  .section-common--tittle {
    font-weight: 800;
    margin-top: 0.8rem;
  }
}
.section-blog img {
  width: 100%;
  height: auto;
}
.nav-header {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container {
  padding: 5rem;
}
/* .first-item .f-c{
    display: flex;
    gap: 3rem;
    .ff-2{
        width: 100%;
        background-color: pink;
    }
}
.s-c{
}
.input{
    /* display: flex; */
/* flex-grow: 1;
}
.second-item img{
    width: 100%;
    height: auto;
} */

.heading {
  margin: 4rem 0 -3rem 5rem;
  & .contact-h1 {
    font-size: 3rem;
    text-transform: capitalize;
  }
  & .contact-p {
    text-transform: capitalize;
  }
}

.left {
  text-transform: capitalize;
  & input {
    outline: 0.5px solid transparent;
  }
  & input::placeholder {
    text-transform: capitalize;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
  }
  & input:focus-visible,
  textarea:focus-visible {
    outline: 0.5px solid var(--main-color);
  }
}

.first {
  display: flex;
  gap: 2rem;
  width: 100%;
  margin: 3rem 0;
  /* background-color: skyblue; */
}
.first .f1 {
  flex-grow: 1;
  input {
    padding: 1rem;
    margin: 0.3rem 0;
    width: 100%;
    border-radius: 5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
.first .f2 {
  flex-grow: 1;

  input {
    padding: 1rem;
    margin: 0.3rem 0;
    width: 100%;
    border-radius: 5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

.second {
  width: 100%;
  margin: 3rem 0;

  /* background-color: pink; */
  input {
    width: 100%;
    padding: 1rem;
    margin: 0.3rem 0;
    border-radius: 5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

.third {
  width: 100%;
  margin: 3rem 0;

  /* background-color: pink; */
  textarea {
    width: 100%;
    padding: 1rem;
    margin: 0.3rem 0;
    border-radius: 1.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
.l-btn {
  margin: 1rem 0;
  border-radius: 3rem;
  input {
    background-color: var(--main-color);
    border: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--white-color);
    text-transform: capitalize;
  }
}

.second-item img {
  width: 100%;
  height: auto;
  border: 0.15rem solid black;
  border-radius: 2rem;
}

@media (min-width: 1115px) {
  html {
    font-size: 56.25%;
  }
  main .btn {
    margin-bottom: 3rem 0 10rem 0;
  }
  .custom-shape-divider-bottom-1725029528 svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 8.6rem;
  }
}
